h1{
    padding-top: 2%;
    text-align: center;
}
td{
    width: 100px;
    height: 100px;
}
.a{
    border-bottom: 2px solid black;
}
.b{
    border-right: 2px solid black;
}
table{
    border-collapse: collapse;
    margin: auto;
}